<!--<h1>MAIN PAGE</h1>-->
<!--<h1>repo name: <%#= @repo.repo_name %></h1>-->
<!--<h1>seed_size: <%#= @repo.seed_size.to_s %></h1>-->
<!--<h1>owner: <%#= @repo.users.first.username %></h1>-->
<div id="main_container" class="container">
  <div id="info_center">
    <div id="project_info">
      <div id="project_info_wrapper">
        <h2>PROJECT INFO</h2>
        <h3>REPOSITORY NAME:</h3>
        <p><%= @repo.repo_name %></p>
        <h4>ENTITY:</h4>
        <p><%= @repo.entities %></p>
        <h4>LANGUAGE:</h4>
        <p><%= @repo.language %></p>
        <h4>SORT METHOD:</h4>
        <p><%= @repo.sort_method %></p>
        <h4>SEED SIZE:</h4>
        <p><%= @repo.seed_size %></p>
        <h4>STATUS:</h4>
        <p><span class="dot"></span><span id="current_status"><%=  @repo.status.split[2]?("  Annotating Seed"):("  Annotating Corpus")  %></span></p>

      </div>
    </div>

    <hr>

    <div id="progress">
      <h2>PROGRESS</h2>
      <h4>CORPUSE</h4>
      <p id="corpus_progress"><%= @repo.status.split[3]+" / "+@repo.status.split[6] %></p>
      <h4>SEED</h4>
      <div class="progress" id="progress_bar">
        <div id="progress_bar_finished" class="progress-bar bg-success" role="progressbar" style="width: <%= @repo.status.split[5].to_f/@repo.status.split[6].to_f%>" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <hr>


    <div id="sentence_history">
      <h2>HISTORY</h2>
      <div id="cache_block">
        <span>
          <div id="cache_data">

          </div>
        </span>

      </div>
    </div>

    <hr>
    <div id="extra_button_space">

      <h2>MORE OPTIONS</h2>
      <div id="extra_button_wrapper">
        <button onclick="evaluate_inference()" type="button" class="btn btn-light extra_button">EVAL</button>
        <button onclick="generate_new_rank()" type="button" class="btn btn-light extra_button">RANK</button>
        <button data-toggle="modal" data-target="#result_modal" type="button" class="btn btn-light extra_button">Result</button>
      </div>
    </div>
  </div>
  <div id="work_space_wrapper">
    <div id="sentence_block">
      <p><span>REFRESH TO START</span></p>

    </div>

    <div id="button_space">
      <div id="next_sentence_button" class="bottom_button" onclick="send_data()">
        <%= image_tag("next_btn_img.png", height: '80', width: '80') %>
      </div>
      <div id="update_to_file_button" class="bottom_button" onclick="update_data()">
        <%= image_tag("upload_btn_img.png", height: '80', width: '80s') %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="result_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <!--*****IMPORTANT*****-->

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">


      <div class="modal-body">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a onclick="get_result_files()" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-cv-result" role="tab" aria-controls="pills-home" aria-selected="true">CV-Results</a>
          </li>
          <li class="nav-item">
            <a onclick="get_gaz_files()" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-gaz" role="tab" aria-controls="pills-profile" aria-selected="false">Gazatteers</a>
          </li>
          <li class="nav-item">
            <a onclick="get_inf_files()" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-inf-result" role="tab" aria-controls="pills-contact" aria-selected="false">Inf-Results</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-cv-result" role="tabpanel" aria-labelledby="pills-home-tab">

          </div>
          <div class="tab-pane fade" id="pills-gaz" role="tabpanel" aria-labelledby="pills-profile-tab">

          </div>
          <div class="tab-pane fade" id="pills-inf-result" role="tabpanel" aria-labelledby="pills-contact-tab">

          </div>
        </div>

      </div>

      <div class="modal-footer">

        <!--*****IMPORTANT*****-->
        <button onclick="_cancel()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="create_repo()" type="button" class="btn btn-primary">Create Repo</button>
        <!--*****IMPORTANT*****-->

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="update_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Updating data to file....Please wait.</h1>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="rank_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Ranking....Please wait for seconds.</h1>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="evaluate_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Evaluating....Please wait for seconds.</h1>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="seed_finish_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Updating Seed....Doing Cross-Validation....Ranking Corpus....Please wait.</h1>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="after_rank_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Finish ranking the corpus!</h1>
        <h1 class="waiting_message">Click any to continue!</h1>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="after_evaluate_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Finish Evaluating!</h1>
        <h1 class="waiting_message">Click any to continue!</h1>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="after_seed_finish_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="waiting_message">Finish ranking the corpus based on the seed!</h1>
        <h1 class="waiting_message">Click any to continue!</h1>
      </div>

    </div>
  </div>
</div>

<!--<div id="button_area" style="background: red">-->
<!--  <button onclick="send_data()">send data to sever!</button>-->
<!--  <button onclick="update_data()">Update data to file</button>-->
<!--  <button onclick="update_rank()">finish seed, update and rank</button>-->
<!--</div>-->
<!--<div id="annotating_status">-->
<!--  None-->
<!--</div>-->
<!--<div id="seed_status">-->
<!--  None-->
<!--</div>-->
<!--<div id="corpus_status">-->
<!--  None-->
<!--</div>-->


<!--<div id="text_window">-->
<!--  <div id="sentence_block">-->
<!--    <span class="word" id="word1">word1</span>-->
<!--    <span class="word" id="word2">word2</span>-->
<!--    <span class="word" id="word3">word3</span>-->
<!--    <span class="word" id="word4">word4</span>-->
<!--  </div>-->
<!--  <div id="cache_block">-->
<!--    <span class="word" id="word5">word5</span>-->
<!--    <span class="word" id="word6">word6</span>-->
<!--  </div>-->
<!--</div>-->


<!--<form>-->
<!--  <input type="file" id="avatar" name="avatar">-->
<!--  <button type="button" onclick="upload()">保存</button>-->
<!--</form>-->