<div class="container">
  <div id="welcome_block">
    <div id="user_initial">
      <p><%= @user.username[0].to_s.capitalize %></p>
    </div>
    <div id="welcome_username_and_greeting">
      <div id="welcome_username">
        <%= @user.username %>
      </div>
      <div id="welcome_greeting">
        Welcome to your repository page!
      </div>
    </div>

  </div>

  <div id="repo_card_space">

    <% @user_repo_array.zip(@user_repo_info).each do |repo_url, repo_info| %>
      <div class="card_container" style="background: <%= repo_info[4]%>">
        <a href=<%= repo_url %>>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= repo_info[0] %></h5>
              <p class="card-text">Entities: <%= repo_info[1] %></p>
              <p class="card-text">Language: <%= repo_info[2] %></p>
            </div>
          </div>
        </a>
        <div class="card_button_space">
          <div class="card_button_share" data-toggle="modal" data-target="#shareModal_<%= repo_info[3] %>"><p>SHARE</p></div>
          <div class="card_button_delete" id="get_<%= repo_info[3] %>" onclick="get_repo_user(this)" data-toggle="modal" data-target="#deleteModal_<%= repo_info[3] %>"><p>DELETE</p></div>
        </div>
      </div>


      <div class="modal fade" id="shareModal_<%= repo_info[3] %>" index="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <!--*****IMPORTANT*****-->

        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="md-form">
                <!--*****IMPORTANT*****-->

                <label for="users">Please enter the username to share this repo</label>

                <!--*****IMPORTANT*****-->
                <div id="users"><input id="user_0" value="" type="text" class="form-control"></div>
                <div>
                  <button onclick="add_user()" type="button" class="btn btn-outline-secondary">Add More</button>
                </div>
                <!--*****IMPORTANT*****-->

              </div>
            </div>
            <div class="modal-footer">

              <!--*****IMPORTANT*****-->
              <button onclick="_cancel()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="<%= repo_info[3] %>" onclick="share_repo(this)" type="button" class="btn btn-primary">Add</button>
              <!--*****IMPORTANT*****-->

            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteModal_<%= repo_info[3] %>" index="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <!--*****IMPORTANT*****-->

        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="md-form">
                <!--*****IMPORTANT*****-->
                <h1></h1>
                <h3>Owns of this repository</h3>
                <h1></h1>

                <div id="users_repo_list"></div>

                <h3>Are you sure to DELETE this repo?</h3>
                <!--*****IMPORTANT*****-->

              </div>
            </div>
            <div class="modal-footer">

              <!--*****IMPORTANT*****-->
              <button onclick="_cancel()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="delete_<%= repo_info[3] %>" onclick="delete_repo(this)" type="button" class="btn btn-primary">Delete</button>
              <!--*****IMPORTANT*****-->

            </div>
          </div>
        </div>
      </div>

    <% end %>


    <div class="card_container" style="width: 18rem;" id="card_for_add_repo" data-toggle="modal" data-target="#addModal" 　>
      <div id="add_repo">
        <p>&#10010</p>
      </div>
    </div>




  </div>
</div>




<!--*****IMPORTANT*****-->

<!-- Modal -->

<!--*****IMPORTANT*****-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <!--*****IMPORTANT*****-->

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="md-form">

          <label for="repo_name">Repository Name</label>

          <!--*****IMPORTANT*****-->
          <input id="repo_name" value="Demo" type="text" class="form-control">
          <!--*****IMPORTANT*****-->

          <label for="language">Language</label>

          <!--*****IMPORTANT*****-->
          <input id="language" value="English" type="text" class="form-control">
          <!--*****IMPORTANT*****-->

          <label for="entities">Entities And Colors</label>

          <!--*****IMPORTANT*****-->
          <div id="entities"><input id="entity_0" value="GEO" type="text" class="form-control"></div>
          <div>
            <button onclick="add_entity()" type="button" class="btn btn-outline-secondary">Add More</button>
          </div>
          <!--*****IMPORTANT*****-->

          <label for="sortMethod">SortMethod</label>

          <!--*****IMPORTANT*****-->
          <input id="sortMethod" value="Pretag_Delax" type="text" class="form-control">
          <!--*****IMPORTANT*****-->

          <label for="seed_size">Seed Size</label>

          <!--*****IMPORTANT*****-->
          <input id="seed_size" value="100" type="text" class="form-control">
          <!--*****IMPORTANT*****-->


          <form class="md-form" action="#">
            <div class="file-field">
              <div class="btn btn-primary btn-sm float-left choose_file">
                <span>Choose files</span>

                <!--*****IMPORTANT*****-->
                <input id="file_upload" name="file" type="file" multiple>
                <!--*****IMPORTANT*****-->

              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
          </form>


          <form class="md-form" action="#">
            <div class="file-field">
              <div class="btn btn-primary btn-sm float-left choose_file">
                <span>Choose files</span>

                <!--*****IMPORTANT*****-->
                <input id="gaz_upload" name="gaz" type="file" multiple>
                <!--*****IMPORTANT*****-->

              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
          </form>


        </div>
      </div>
      <div class="modal-footer">

        <!--*****IMPORTANT*****-->
        <button onclick="_cancel()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="create_repo()" type="button" class="btn btn-primary">Create Repo</button>
        <!--*****IMPORTANT*****-->

      </div>
    </div>
  </div>
</div>

<button id="upload_alert" class="btn btn-primary" type="button" disabled hidden>
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Upload files....Setup Repository....Please wait.
</button>
