<!DOCTYPE html>
<html>
<head>
  <title>HerFriendlyUi</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render "layouts/header" %>
<%= yield %>
</body>


<div class="modal fade" id="acknowledge_modal" index="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <!--*****IMPORTANT*****-->

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h3>Information</h3>
        <p>This project is developed by the team FeatureNotBug as a class project in CSE3901(SP19 8117).</p>
        <p>This project will be used by the Herodotus group of Linguistic Department in OSU.</p>
        <p>This project should be used for academic purpose, ONLY.</p>
        <p>This project is developed based on the Alex's HER system.</p>
        <h3>Contributors</h3>
        <p>Feng, Yukun -- feng.749@osu.edu</p>
        <p>Chen, Xiaoyuan -- chen.6400@osu.edu</p>
        <p>Li, Feng -- li.8906@osu.edu</p>
        <h3>Back-End HER -- supported by Alexander Erdmann</h3>
        <p>This project only supports the CRF method currently.</p>
        <p>----------------------------------------------------------------------</p>
        <a href="https://github.com/alexerdmann/HER"><p> --Github Repo of HER demo</p></a>
        <a href="https://github.com/alexerdmann/HER/blob/master/Scripts/Docs/Manual.md"><p> --Full USER MANUAL of HER</p></a>
        <a href="https://github.com/alexerdmann/HER/blob/master/HER_NAACL2019_preprint.pdf">
          <p> --Practical, Efficient, and Customizable Active Learning for Named Entity Recognition in the Digital
            Humanities.[NAACL 2019]</p></a>
        <h3>We also deeply appreciate:</h3>
        <p>-- Herodotus Group of Linguistic Department in OSU</p>
        <p>-- Senior UI Designer: Xiangru Chen</p>
        <p>-- Deepin OS</p>
        <p>   </p>
        <p>   </p>
        <p>   </p>
      </div>
    </div>
  </div>
</div>
</html>
